<mat-nav-list>
    <div class="logo" routerLink="/home" routerLinkActive="home-is-active">
        <img [src]="logo" class="logo-img">
    </div>
    <a mat-list-item routerLink="/home" (click)="onSidenavClose()">
        <mat-icon>home</mat-icon> <span class="nav-caption">Home</span>
    </a>
    <a mat-list-item routerLink="/teams" (click)="onSidenavClose()">
        <mat-icon>people_alt</mat-icon> <span class="nav-caption">Équipes</span>
    </a>
    <a mat-list-item routerLink="/poules" (click)="onSidenavClose()">
        <mat-icon>local_play</mat-icon> <span class="nav-caption">Poules</span>
    </a>
    <a mat-list-item routerLink="/rules" (click)="onSidenavClose()">
        <mat-icon>gavel</mat-icon> <span class="nav-caption">Réglement</span>
    </a>
    <a mat-list-item routerLink="/planning" (click)="onSidenavClose()">
        <mat-icon>event</mat-icon> <span class="nav-caption">Planning</span>
    </a>
    <a mat-list-item routerLink="/weekly-rift" (click)="onSidenavClose()">
        <mat-icon>library_books </mat-icon> <span class="nav-caption">TLC News</span>
    </a>
</mat-nav-list>
