<mat-nav-list>
    <div class="whiteLogo" class="whiteLogo" routerLink="/home" routerLinkActive="home-is-active">
        <img [src]="whiteLogo" class="whiteLogo">
    </div>
    <a mat-list-item routerLink="/home" (click)="onSidenavClose()">
        <mat-icon>home</mat-icon> <span class="nav-caption"> Home</span>
    </a>
    <a mat-list-item routerLink="{{tournamentId}}/participants" (click)="onSidenavClose()">
        <mat-icon>person</mat-icon> <span class="nav-caption"> Participants</span>
    </a>
    <a mat-list-item routerLink="{{tournamentId}}/rules" (click)="onSidenavClose()">
        <mat-icon>gavel</mat-icon> <span class="nav-caption"> Réglement</span>
    </a>
    <a mat-list-item routerLink="{{tournamentId}}/pods" (click)="onSidenavClose()">
        <mat-icon>group</mat-icon> <span class="nav-caption"> Pods</span>
    </a>
    <a mat-list-item routerLink="{{tournamentId}}/planning" (click)="onSidenavClose()">
        <mat-icon>calendar_today</mat-icon> <span class="nav-caption"> Planning</span>
    </a>
    <a mat-list-item routerLink="{{tournamentId}}/matchs" (click)="onSidenavClose()">
        <mat-icon>local_fire_department</mat-icon> <span class="nav-caption"> Matchs</span>
    </a>
    <a mat-list-item routerLink="{{tournamentId}}/rankings" (click)="onSidenavClose()">
        <mat-icon>stars</mat-icon> <span class="nav-caption"> Classement</span>
    </a>
</mat-nav-list>
