<div class="container">
    <h1 class="title">Présentation du Circuit</h1>
    <p>
        L’association CDFL a pour objectif de promouvoir et d’organiser le circuit compétitif permettant l’accès à la Coupe de France de Legacy.
        <br/>
        Les choses ont beaucoup changé depuis 4 ans, il était important que l’association s’adapte, de nouveaux membres ont rejoint l’équipage et une nouvelle organisation du circuit a été nécessaire pour le redynamiser. 
    </p>
    <p>
        Tout d’abord, la Finale de la Coupe de France est un tournoi annuel visant à réunir les meilleurs joueurs de Legacy de France.
        Pour pouvoir y participer, il faut être qualifié ! Il y a trois façons de se qualifier : 
        <ul>
            <li>Les Main Legacy Qualifier</li>
            <li>Les Opens Qualifier</li>
            <li>Les Invitations </li>
        </ul>
    <h1 class="subtitle">Les Main Legacy Qualifier</h1>
    <p>
        Les Main Legacy Qualifier sont des tournois  d'envergure réalisés en collaboration avec des organisateurs locaux, les localités de ces tournois ont pour vocation de permettre à chaque personne de métropole d’avoir un tournoi majeur à proximité. Il y en aura 5 en France :
        <ul>
            <li>Toulouse (15 Octobre) - organisé par le <a href="https://www.facebook.com/MagicClubBessieres" target="_blank">MCB</a></li>
            <li>Rennes (Décembre*)</li>
            <li>Lyon (Janvier*) - organisé par <a href="https://www.facebook.com/mtgones" target="_blank">MTGGONES</a></li>
            <li>Strasbourg (Mars*) - organisé par <a href="https://www.facebook.com/black67200" target="_blank">CORP.F</a></li>
            <li>Palaiseau (Avril*) - organisé par les <a href="https://www.facebook.com/arpenteursdepalaiseau" target="_blank">Arpenteurs du Palaiseau</a></li>
            *(dates/mois non définitif)
        </ul>
        
    <p>
        Chaque Main Legacy Qualifier permet de qualifier 1 personne tous les 8 inscrits. Exemples: sur un tournoi à 64 joueurs, les joueurs du top 8 seront qualifiés ; pour un tournoi à 128 joueurs, le  top 16 sera qualifiés.
    </p>
    <h1 class="subtitle">Les Open Qualifier</h1>
    <p>
        Par rapport aux années précédentes le classement par régions n’existe plus et les Open sont remaniés : 
        <br>
        désormais appelé Open Qualifier Legacy, ces tournois permettent de qualifier 1 personne tous les 16 joueurs inscrits. Ces tournois ont pour but de redynamiser les communautés locales ainsi tous tournois organisé par une association, organisation ou boutique peut être considéré comme un Open Qualifier, à condition que l'organisateur respecte le point suivant :
        <ul>
            <li>Avoir annoncer le tournoi en amont comme Open Qualifier Legacy (avec notre logo par exemple :p)</li>
        </ul>
    <p>
        Après l'événement, l’organisateur communique les résultats du tournoi aux organisateurs de la CDFL via <b>coupedefrancelegacy@gmail.com</b>.
    <p>
        Pour limiter que certaines régions très dynamiques ne qualifient trop de ces joueurs, les Opens Qualifier sont limités à 1 par mois par association, organisation ou boutique (avec une certaine souplesse, au besoin les organisateurs peuvent contacter l’asso CDFL sur <a href="https://discord.gg/UUqRtweMCp" target="_blank">discord</a>.
        <br>
        Cela signifie que si votre région est assez dynamique, vos tournois mensuels deviennent tous des Opens Qualifier Legacy. Nous invitons les organisateurs de tournois hebdomadaires à fixer un tournoi par mois comme Open Qualifier Legacy (le premier du mois par exemple).
    <h1 class="subtitle">Les Invitations</h1>
    <p>
        Des qualifications sont également données via invitations :
        <ul>
            <li>A l’ensemble des précédents gagnants de la CDFL</li>
            <li>Aux joueurs performants sur des tournois legacy majeurs internationaux (exemple : Eternal Week-end).</li>
        </ul>
    <p>
        Nous invitons donc toute personnes souhaitant <b>rallumer la flamme du legacy</b> à inciter leurs organisateurs locaux à mettre en place des Open Qualifier.
</div>