.container {
    margin-top: 3%;
    margin-right: 10%;
    margin-left: 10%;
    margin-bottom: 1%;
}

.title {
    font-size: xx-large;
    font-weight: bold;
    text-align: center;
}

p, li {
    font-size: x-large;
    text-indent: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    line-height: 30px;
}

.text-align-center {
    text-align: center;
}

.final-planning {
    text-align: left;
    margin-left: 20%;
}

.subtitle {
    text-decoration: underline;
    font-size: 25px;
    font-family: Gill Sans,Gill Sans MT,Calibri,Trebuchet MS,sans-serif;
    line-height: 60px;
    font-weight: bold;
}

mat-card-title {
    font-weight: bold;
    font-size: x-large;
}

mat-card {
    margin: 15px;
}

mat-card-content {
    text-align: center;
}

.chapter-title {
    text-decoration: underline;
    font-size: large;
}

.banniere {
    width: 100%;
}

.facebook {
    max-width: 120px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.logo {
    max-width: 150px;
}

.logos {
    height: 200px;
}

.header {
    font-size: large;
}

.day {
    font-size: x-large;
    font-weight: bold;
    margin-top: 30px;
}

mat-button-toggle-group {
    border-radius: 25px;
    border: 0px;
    margin: 15px;
    font-size: medium;
}
.qualified {
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    border: solid 5px blue !important;
}

.not-qualified {
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    border: solid 5px red !important;
}

.mat-button-toggle-checked.qualified {
    background-color: blue;
    color: white;
}

.mat-button-toggle-checked.not-qualified {
    background-color: red;
    color: white;
}

.tournament {
    border: solid 5px black;
    border-radius: 25px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
    padding: 20px;
}

.tournament-for-qualified {
    border-color: blue;
}

.tournament-for-not-qualified {
    border-color: red;
}

.billet {
    border-radius: 25px;
    font-size: x-large;
    padding: 20px;
}
