<div class="container">
    <h1 class="title">Présentation du Circuit</h1>
    <p>
        L’association CDFL a pour objectif de promouvoir et d’organiser le circuit compétitif permettant l’accès à la Coupe de France de Legacy.
        <br/>
        Les choses ont beaucoup changé depuis 4 ans, et il était important que l’association s’adapte, de nouveaux membres ont rejoint l’équipage et une nouvelle organisation du circuit a été nécéssaire pour le redynamiser. 
    </p>
    <p>
        Tout d’abord la Coupe de France est un tournoi annuel visant à réunir les meilleurs joueurs de Legacy de France, pour pouvoir y participer, il faut être qualifier !
        Il y a trois façons de se qualifier : 
        <ul>
            <li>Les Main CDFL Qualifier</li>
            <li>Les Opens Qualifier</li>
            <li>Les Invitations </li>
        </ul>
    
    <p>
        L’ensemble des précédents gagnant de la CDFL sont qualifié ainsi que les joueurs performants à des tournois legacy majeurs internationaux.
        
        Les Main CDFL Qualifier sont des tournois importants organisés en collaboration avec des organisateurs locaux, les localités de ces tournois ont pour vocation de permette à chaque personne de métropole d’avoir un tournoi majeur à proximité. Il y en aura 5 en France :
        <ul>
            <li>Toulouse (15 Octobre)</li>
            <li>Rennes (Décembre*)</li>
            <li>Lyon (Janvier*)</li>
            <li>Starsbourg (Mars*)</li>
            <li>Paris (Mai*) - En recherche d’organisateurs</li>
            *(les dates seront communiquées et confirmées le plus rapidement possible)
        </ul>
        
    <p>
        Chaque Main CDFL Qualifier permettra de qualifier 1 personne tout les 8 inscrits. C’est à dire si 64 joueurs se déplacent pour l’évent, les joueurs du top 8 seront qualifiés. Sur un tournoi à 128 joueurs, tout les joueurs du top 16 seront qualifiés.
    </p>
    <p>
        Par rapport aux années précédents le classement par régions n’existe plus et les Open sont remaniés : 
        Désormais appelé Open Qualifier CDFL, ces tournois permette de qualifier 1 personne tout les 16 inscrits. Ces tournois ont pour but de redynamiser au maximum les régions, c’est pour cela que tout tournois organisé par une association, organisation ou boutique peut être considéré comme un Open Qualifier, pour cela il suffit de respecter les conditions suivantes :
        - Avoir au moins 16 joueurs
        - Avoir annoncer le tournoi comme Open Qualifier CDFL
        - Que l’organisateur communique le résultats du tournoi aux organisateurs de la CDFL.
        
        Pour limiter que certaines régions trop dynamiques qualifie trop de ces joueurs, les Opens qualifier sont limités à 1 par mois par association, organisation ou boutique (avec une certaines souplesse, au besoin les organisateurs peuvent contacter l’asso CDFL sur discord, un salon y est dédié(https://discord.gg/UUqRtweMCp).
        
        Cela signifie que si votre région est assez dynamique, vos tournois mensuels deviennent tous des Opens Qualifier CDFL. Nous invitons les organisateurs de tournois hebdomadaire à fixer un tournoi par mois comme Open Qualifier CDFL (le premier du mois par exemple).
    <p>
        Quid des 2€ par personnes ?
        <br/>
        Pour maximiser le dynamisme du format, l’association CDFL a décider de ne pas demander de participation de la part des organisateur d’Open Qualifier CDFL.
    </p>
    <p>
        Nous invitons donc toutes personnes souhaitant rallumer la flamme du legacy de communiquer auprès de ces organisateurs locaux pour nous contacter.
    </p>
</div>