.container {
    margin-right: 10%;
    margin-left: 10%;
    margin-top: 2%;
    margin-bottom: 5%;
}

mat-accordion {
    margin-bottom: 30px;
}

mat-expansion-panel-header {
    height: auto;
    min-height: 48px;
}

.question {
    text-decoration: underline;
}

.answer {
    text-align: center;
}
