.card {
    max-width: 500px;
    width: 80%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.qualifiedPlayer {
    text-align: center;
}

.clickable-icon {
  cursor: pointer;
}

.container {
    margin-right: 10%;
    margin-left: 10%;
    margin-top: 2%;
    margin-bottom: 5%;
}

.tool {
  text-align: center;
}

textarea {
  width: 30%;
  min-height: 100px;
}

.clickable-icon {
  margin: 10%;
}