<mat-card>
    <mat-card-title>{{team.school}} - {{team.name}}</mat-card-title>
    <mat-card-content>
        <div class="player" fxLayout="row" fxLayoutAlign="space-around center">
            <div class="logo">
                <img [src]="topLanerLogo">
            </div>
            <div class="player-pseudo">
                {{team.topLaner.pseudo}}
            </div>
        </div>
        <div class="player" fxLayout="row" fxLayoutAlign="space-around center">
            <div class="logo">
                <img [src]="jungleLogo">
            </div>
            <div class="player-pseudo">
                {{team.jungle.pseudo}}
            </div>
        </div>
        <div class="player" fxLayout="row" fxLayoutAlign="space-around center">
            <div class="logo">
                <img [src]="midLanerLogo">
            </div>
            <div class="player-pseudo">
                {{team.midLaner.pseudo}}
            </div>
        </div>
        <div class="player" fxLayout="row" fxLayoutAlign="space-around center">
            <div class="logo">
                <img [src]="botLogo">
            </div>
            <div class="player-pseudo">
                {{team.botLaner.pseudo}}
            </div>
        </div>
        <div class="player" fxLayout="row" fxLayoutAlign="space-around center">
            <div class="logo">
                <img [src]="supportLogo">
            </div>
            <div class="player-pseudo">
                {{team.support.pseudo}}
            </div>
        </div>
    </mat-card-content>
</mat-card>
