<mat-card>
    <mat-card-title>{{team.school}} - {{team.name}}</mat-card-title>
    <mat-card-content>
        <div class="player" fxLayout="row" fxLayoutAlign="space-around center">
            <div class="logo">
                <img [src]="team.topLaner.role">
            </div>
            <div class="player-pseudo">
                {{team.topLaner.pseudo}}
            </div>
        </div>
        <div class="player" fxLayout="row" fxLayoutAlign="space-around center">
            <div class="logo">
                <img [src]="team.jungle.role">
            </div>
            <div class="player-pseudo">
                {{team.jungle.pseudo}}
            </div>
        </div>
        <div class="player" fxLayout="row" fxLayoutAlign="space-around center">
            <div class="logo">
                <img [src]="team.midLaner.role">
            </div>
            <div class="player-pseudo">
                {{team.midLaner.pseudo}}
            </div>
        </div>
        <div class="player" fxLayout="row" fxLayoutAlign="space-around center">
            <div class="logo">
                <img [src]="team.botLaner.role">
            </div>
            <div class="player-pseudo">
                {{team.botLaner.pseudo}}
            </div>
        </div>
        <div class="player" fxLayout="row" fxLayoutAlign="space-around center">
            <div class="logo">
                <img [src]="team.support.role">
            </div>
            <div class="player-pseudo">
                {{team.support.pseudo}}
            </div>
        </div>
        <div *ngIf="team.remplacant1 != null" class="player" fxLayout="row" fxLayoutAlign="space-around center">
            <div class="logo">
                <img [src]="team.remplacant1.role">
            </div>
            <div class="player-pseudo">
                {{team.remplacant1.pseudo}}
            </div>
        </div>
        <div *ngIf="team.remplacant2 != null" class="player" fxLayout="row" fxLayoutAlign="space-around center">
            <div class="logo">
                <img [src]="team.remplacant2.role">
            </div>
            <div class="player-pseudo">
                {{team.remplacant2.pseudo}}
            </div>
        </div>
    </mat-card-content>
</mat-card>
