mat-card-title {
    text-align: center;
    font-weight: bold;
    padding-bottom: 10px;
    border-bottom-style: solid;
    border-bottom-color: red;
}

.player-pseudo {
    font-size: x-large;
    text-align: left;
    width: 50%;
}

.logo {
    width: 30%;
    text-align: right;
}

mat-card {
    border-style: solid;
    border-color: orange;
}
