mat-card-title {
    text-align: center;
    font-weight: bold;
    padding-bottom: 10px;
    border-bottom-style: solid;
    border-bottom-color: rgb(207, 2, 43);
    height: 9%;
}

mat-card-content {
    height: 88%;
    overflow-y: auto;
}

.logo {
    width: 15%;
}

.player-pseudo {
    font-size: x-large;
    text-align: left;
    width: 70%;
}

mat-card {
    border-style: solid;
    border-color: rgb(240, 125, 0);
    height: 90%;
}
