.match {
    font-size: large;
    margin: 1%;
}

.mobile-text {
    text-align: center;
}

.date {
    text-decoration: underline;
}

.vs {
    font-weight: bolder;
}

mat-card-header {
    font-size: xx-large;
    margin-bottom: 2%;
}

mat-card {
    border-color: rgb(240, 125, 0);
    border-style: solid;
}

.no-poule {
    position: relative;
    margin-top: 100px;
    text-align: center;
}
