mat-toolbar{
    background-color: black;
    color: white;
}

.home {
    cursor: pointer;
}

mat-icon {
    vertical-align: sub;
}

.not-home {
    width: 100%;
    height: 100%;
}

.logo {
    height: 100%;
    cursor: pointer;
}

.menu {
    cursor: pointer;
    height: 100%;
    line-height: 64px;
}

.is-active {
    border-bottom: 3px solid red !important;
}

div:focus{
    outline: none;
}
