<mat-toolbar div fxLayout="row" fxLayoutAlign="space-between center" >
    <div class="small-menu-bar" fxHide.gt-xs>
        <button mat-icon-button (click)="onToggleSidenav()">
            <mat-icon>list</mat-icon>
        </button>
    </div>
    <div class="home" routerLink="/home">
        <span fxShow fxHide.xs>{{tournamentName}}</span>
        <span fxHide.gt-xs> TLC - {{rootName}}</span>
    </div>
    <div class="not-home" fxLayout="row" fxLayoutGap="5%" fxLayoutAlign="center center" fxHide.xs>
        <div class="menu" routerLink="/teams" routerLinkActive="is-active">
            <span>Équipes</span>
        </div>
        <div class="menu" routerLink="/poules" routerLinkActive="is-active">
            <span>Poules</span>
        </div>
        <div class="menu" routerLink="/rules" routerLinkActive="is-active">
            <span>Réglement</span>
        </div>
        <div class="menu" routerLink="/planning" routerLinkActive="is-active">
            <span>Planning</span>
        </div>
        <div class="menu" routerLink="/weekly-rift" routerLinkActive="is-active">
            <span>TLC News</span>
        </div>
    </div>
    <div class="logo" routerLink="/home" routerLinkActive="home-is-active">
        <img [src]="logo" class="logo-img">
    </div>
</mat-toolbar>
