mat-toolbar{
    background-color: black;
    color: white;
    position: sticky;
    top:0px;
    z-index: 100;
}

.menu-bar{
    width: 100%;
}
.home {
    cursor: pointer;
    height: 100%;
}

.not-home{
    width: 90%;
}

mat-icon {
    vertical-align: sub;
}

.whiteLogo {
    height: 100%;
    cursor: pointer;
    right: 0px;
    position: absolute;
    z-index: -1;
}

.menu {
    cursor: pointer;
    height: 100%;
    line-height: 64px;
}

.is-active {
    border-bottom: 3px solid red !important;
}

div:focus{
    outline: none;
}
/* Todo Responsive @media (max-width: 600px)  */
