<mat-toolbar div fxLayout="row" fxLayoutAlign="start center">
    <div class="small-menu-bar" fxHide.gt-xs>
        <button mat-icon-button (click)="onToggleSidenav()">
            <mat-icon>list</mat-icon>
        </button>
    </div>
    <div class="home" routerLink="/home">
        <span>CDFL</span>
        <span fxHide.gt-xs> - {{rootName}}</span>
    </div>
    <div class="not-home" fxLayout="row" fxLayoutGap="5%" fxLayoutAlign="center center" fxHide.xs>
        <div class="menu" routerLink="/qualified" routerLinkActive="is-active">
            <span>Joueurs Qualifiés</span>
        </div>
        <div class="menu" routerLink="/events" routerLinkActive="is-active">
            <span>Tournois</span>
        </div>
        <div class="menu" routerLink="/circuit" routerLinkActive="is-active">
            <span>Informations sur le Circuit</span>
        </div>
        <div class="menu" routerLink="/final" routerLinkActive="is-active">
            <span>Informations sur la Finale</span>
        </div>
        <div class="menu" routerLink="/faq" routerLinkActive="is-active">
            <span>FAQ</span>
        </div>
    </div>
    <div class="whiteLogo" routerLink="/home" routerLinkActive="home-is-active">
        <img [src]="whiteLogo" class="whiteLogo" alt="whiteLogo de CDFL">
    </div>
</mat-toolbar>