<div class="container">
    <mat-grid-list cols="2" rowHeight="2:1" gutterSize="20">
        <mat-grid-tile *ngFor="let matchsPoule of matchsPoules">
            <mat-card>
                <mat-card-title>{{matchsPoule.name}}</mat-card-title>
                <mat-card-content >
                    <div class="match" *ngFor="let match of matchsPoule.matchs">
                        {{match.date}} : {{match.team1.name}} VS {{match.team2.name}}
                    </div>
                </mat-card-content>
            </mat-card>
        </mat-grid-tile>
    </mat-grid-list>
</div>