mat-card-title {
    text-align: center;
    font-weight: bold;
    padding-bottom: 10px;
    border-bottom-style: solid;
    border-bottom-color: rgb(207, 2, 43);
}

mat-card {
    border-style: solid;
    border-color: rgb(240, 125, 0);;
}

.team {
    text-align: center;
    font-size: x-large;
    padding: 5px;;
}
