<mat-card>
    <mat-card-title>{{poule.name}}</mat-card-title>
    <mat-card-content>
        <div class="team">
            {{poule.team1.school}} - {{poule.team1.name}}
        </div>
        <div class="team">
            {{poule.team2.school}} - {{poule.team2.name}}
        </div>
        <div class="team">
            {{poule.team3.school}} - {{poule.team3.name}}
        </div>
        <div class="team">
            {{poule.team4.school}} - {{poule.team4.name}}
        </div>
    </mat-card-content>
</mat-card>
