<div class="container">
    <h1 class="title">Informations sur la finale</h1>
    <div class="text-align-center">
        <p>
            La finale se déroulera à Lyon et sera organisée par MTG Gones !
            Vous trouverez sur cette page toutes les informations sur l'évènement.
            Vouc pouvez aussi rejoindre <a href="https://www.facebook.com/events/388581167372170/" target="_blank">l'évènement Facebook</a> !
            Cette page sera mise à jour au fur et à mesure.
        </p>
       
    </div>
</div>
        <img [src]="banniere" class="banniere">

        <!-- <mat-card>
            <mat-card-header>
              <mat-card-title>Lieu et Date</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <p>
                    6 & 7 juillet 2024
                    <br>
                    Brindas
                </p>
            </mat-card-content>
        </mat-card> -->

        <mat-card>
            <mat-card-header>
              <mat-card-title>Détails des tournois</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <div class="chapter-title">
                    Last Chance Qualifier
                </div>
                <p>
                    7-8 rondes + Top 8
                    <br>
                    Un qualifié tous les 8 inscrits
                </p>
                <div class="chapter-title">
                    Coupe de France
                </div>
                <p>
                    7-8 rondes + Top 8
                    <br>
                    Pour les qualifiés uniquement !
                    <br>
                    Liste des qualifés <a routerLink="/qualified">ici</a>.
                </p>
                <div class="chapter-title">
                    Side event Open CDF 2025
                </div>
                <p>
                    5 rondes + Top 8 ou rondes sèches
                </p>
            </mat-card-content>
        </mat-card>

        <mat-card>
            <mat-card-header>
              <mat-card-title>Lots</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <p>
                    Des bilands !
                    <br>
                    Une qualification à vie à la CDF pour le gagnant !
                    <br>
                    Plus de détails prochainement...
                </p>
            </mat-card-content>
        </mat-card>

        <mat-card>
            <mat-card-header>
              <mat-card-title>Artiste</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <p>
                    Plus d'information prochainement...
                </p>
            </mat-card-content>
        </mat-card>

        <mat-card>
            <mat-card-header>
              <mat-card-title>Restauration</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <p>
                    La cuisine du Gones vous prépare les meilleures recettes du Sud-Est de la France !
                </p>
            </mat-card-content>
        </mat-card>
