<div class="container">
    <h1 class="title">Informations sur la finale</h1>
    <div class="text-align-center">
        <p>
            La finale se déroulera à Lyon et sera organisée par MTG Gones !
            <br>
            Un week_en de Legacy pour les qualifiés et les non-qualifiés !
            <br>
            Vous trouverez sur cette page toutes les informations sur l'évènement.
            Vouc pouvez aussi rejoindre <a href="https://www.facebook.com/events/388581167372170/" target="_blank">l'évènement Facebook</a> !
            Cette page sera mise à jour au fur et à mesure.
        </p>
       
    </div>
</div>
        <img [src]="banniere" class="banniere">
        <mat-card>
            <mat-card-header>
              <mat-card-title>Programme</mat-card-title>
            </mat-card-header>
            <mat-card-content>

                <div class="header">
                    <mat-button-toggle-group name="qualifiedToggle" aria-label="qualifiedToggle" #group="matButtonToggleGroup" (change)="onValueChange(group.value)">
                        <mat-button-toggle value="qualified" class="qualified">Je suis qualifié</mat-button-toggle>
                        <mat-button-toggle value="notQualified"  class="not-qualified">Je ne suis pas qualfié</mat-button-toggle>
                    </mat-button-toggle-group>
                    <br>
                    Tu peux vérifier ta qualification <a routerLink="/qualified">ici</a> !
                </div>

                <div class="day">Samedi 6 juillet</div>

                <div class="tournament lcq" [class.tournament-for-qualified]="selectedVal == 'qualified'" [class.tournament-for-not-qualified]="selectedVal == 'notQualified'">
                    <div class="chapter-title">
                        Last Chance Qualifier
                    </div>
                    <p>
                        7-8 rondes + Top 8
                        <br>
                        Un qualifié tous les 8 inscrits
                        <br>
                        Ouvert à tous les joueurs ! Qualifié ou non !
                    </p>
                </div>

                <div class="day">Dimanche 7 juillet</div>

                <div fxLayout="row" fxLayoutAlign="space-around center">
                    <div class="tournament finale" [class.tournament-for-qualified]="selectedVal == 'qualified'">
                        <div class="chapter-title">
                            Coupe de France
                        </div>
                        <p>
                            7 rondes + Top 8
                            <br>
                            Pour les qualifiés uniquement !
                        </p>
                    </div>
                    <div class="tournament child" [class.tournament-for-not-qualified]="selectedVal == 'notQualified'">
                        <div class="chapter-title">
                            Side event Open CDF 2025
                        </div>
                        <p>
                            7 rondes sèches
                        </p>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>

        <mat-card>
            <mat-card-header>
              <mat-card-title>Billeterie</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <a mat-flat-button color="primary" href="https://www.helloasso.com/associations/mtg-ones/evenements/lcq-finale-de-la-coupe-de-france-legacy-2024" target="_blank" class="billet">Billets HelloAsso ici</a>
            </mat-card-content>
        </mat-card>

        <mat-card>
            <mat-card-header>
              <mat-card-title>Planning</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <img [src]="planning" class="planning">
            </mat-card-content>
        </mat-card>

        <mat-card>
            <mat-card-header>
              <mat-card-title>Lots</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <p>
                    Des bilands !
                    <br>
                    Une qualification à vie à la CDF pour le gagnant !
                    <br>
                    Plus de détails prochainement...
                </p>
            </mat-card-content>
        </mat-card>

        <mat-card>
            <mat-card-header>
              <mat-card-title>Artiste</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <p>
                    Plus d'information prochainement...
                </p>
            </mat-card-content>
        </mat-card>

        <mat-card>
            <mat-card-header>
              <mat-card-title>Restauration</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <p>
                    La cuisine du Gones vous prépare les meilleures recettes du Sud-Est de la France !
                </p>
            </mat-card-content>
        </mat-card>
