.container {
    margin-right: 5%;
    margin-left: 5%;
    margin-top: 1%;
    margin-bottom: 1%;
}

.mat-mdc-form-field {
    font-size: 50px;
    width: 100%;
}

table {
    width: 100%;
}

.w-50 {
    width: 50%;
}
