.container {
    text-align: center;
    position: relative;
    height: 90%;
    margin: 1% 5%;
}

.logoDiv {
    position: relative;
    height: 70%;
}

.discordDiv {
    position: relative;
    bottom: 0%;
    height: 10%;
    margin-bottom: 1%;
    cursor: pointer;

}

.join-us {
    position: relative;
    margin-bottom: 1%;
    font-weight: bold;
    font-size: large;
}

.logo {
    max-width: 100%;
    max-height: 100%;
}

.text {
    margin: 2%;
    z-index: 1;
    font-size: x-large;
    font-weight: bold;
}

p {
    margin-bottom: 4%;
}

.newUpdate {
    font-size: x-large;
    font-weight: bold;
    color: red;
    line-height: normal;
}
/* Todo Responsive @media (max-width: 600px)  */